#facebook
  .system-fonts--body
  div.html-div
  > span.renderable
  > span.katex-display
  :where(.mop, .op-limits) {
  font-family: KaTeX_Size2;
}

#facebook
  .system-fonts--body
  div.html-div:has(> span.renderable > span:where(.katex, .katex-display))
  span:is(.sizing, .reset-size6, .size3, .mtight, .mord),
#facebook .system-fonts--body div.html-div > span.renderable > span.katex,
#facebook
  .system-fonts--body
  div.html-div
  > span.renderable
  > span:where(.katex, .katex-display)
  :not(.mop, .op-limits) {
  font-family: KaTeX_Main;
}

#facebook
  .system-fonts--body
  div.html-div
  > span.renderable
  > span:where(.katex, .katex-display)
  span.katex-html
  > span.base
  > span.mord
  > span.msupsub {
  padding-left: 1.5px;
}

#facebook .system-fonts--body div.html-div > span.renderable {
  display: inline-block;
}

#facebook
  .system-fonts--body
  div.html-div
  > span.renderable:has(> span.katex-display) {
  width: 100%;
}
