#facebook
  .system-fonts--body
  div.html-div
  > span:where(.katex, .katex-display) {
  color: white;
}

#facebook
  .system-fonts--body
  div.html-div
  > span.katex-display
  :where(.mop, .op-limits) {
  font-family: KaTeX_Size2;
}

#facebook
  .system-fonts--body
  div.html-div:has(> span:where(.katex, .katex-display))
  span:is(.sizing, .reset-size6, .size3, .mtight, .mord),
#facebook .system-fonts--body div.html-div > span.katex,
#facebook
  .system-fonts--body
  div.html-div
  > span:where(.katex, .katex-display)
  :not(.mop, .op-limits) {
  font-family: KaTeX_Main;
}

div.html-div.xdj266r.x11i5rnm.xat24cr.x1mh8g0r.xexx8yu.x4uap5.x18d9i69.xkhd6sd.xeuugli.x1vjfegm:has(
    > span:where(.katex, .katex-display)
  ) {
  padding: 0 13px;
  border-radius: 35px;
  outline: 14px solid var(--mwp-message-row-background);
}

div.html-div.xdj266r.x11i5rnm.xat24cr.x1mh8g0r.xexx8yu.x4uap5.x18d9i69.xkhd6sd.xeuugli.x1vjfegm:has(
    > span:where(.katex)
  ) {
  padding: 13px 13px;
}

span.html-span.xdj266r.x11i5rnm.xat24cr.x1mh8g0r.xexx8yu.x4uap5.x18d9i69.xkhd6sd.x1hl2dhg.x16tdsg8.x1vvkbs.x1xf6ywa {
  display: block;
  padding-top: 10px;
}
